.gameContainer {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.square {
    border: 1px solid;
    float: left;
    margin: -1px;
    text-align: center;
}

.buttonGroup {
    margin-top: 16px;
}