.container {
    height: 100vh;
    position: relative;
}

.gameContainer {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.square {
    border: 1px solid;
    float: left;
    margin: -1px;
    text-align: center;
}

.buttonGroup {
    margin-top: 16px;
}