.commentItem{
    margin-bottom: 16px;
    margin-top: 16px;
    min-height: 100px;
}

.commentTitle{
    font-size: calc(0.6em + 0.6vw);
    display: flex;
    justify-content: space-between;
    color: #2f2f2f;
}

.commenctContent{
    font-size: calc(0.6em + 0.6vw);
}

.commentFooter{
    font-size: calc(0.5em + 0.5vw);
}

.commentDeleteButton{
    float: right;
}

.commentInputCard{
    margin-top: 16px;
    margin-bottom: 16px;
}